.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo h2 {
  margin-left: 20px;
}

.logo-img {
  width: 20%;
}

.navlinks {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navlinks ul {
  list-style-type: none;
}

.links-desktop {
  font-size: 20px;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}
